.container {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-body {
  width: 50%;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.main-body__first {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.check::after {
  content: "Это метка для чекбокса: нажмите на меня - чекбокс сменит галочку!";
  border: 2px red solid;
  margin-left: 20px;
}
.check2::after {
  content: "Я отмечен по умолчанию!";
  border: 2px red solid;
  margin-left: 20px;
}
.check3::after {
  content: "Я disabled";
  border: 2px red solid;
  margin-left: 20px;
}
.main-body__second {
  width: 100%;
  height: 120px;
  border: 2px red solid;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 10px;
  justify-content: space-evenly;
}
.main-body__second__group__radio1::after {
  content: "Это метка для радио!";
}
.main-body__second__group {
  height: 110px;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}
button {
  width: 180px;
  height: 25px;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  border: 2px rgb(164, 164, 164) solid;
  margin-top: 10px;
}
